/* Prevents adjustments of font size after orientation change in IE on Windows phone and in IOS */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Apply a natural box model layout to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*.clearfix: after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

video {
    width: 100%;
}


body {
  margin: 0;
  background: #000; 
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
/* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
  background-size: cover;
  transition: 1s opacity;
}

.stopfade { 
   opacity: .5;
}

/*
#bgvid {
    height: 100vh;
}
*/

#aboutMe {
    border: 4px solid darkred;
    box-shadow: rgba(0,0,0,0.6) 10px 10px 10px;
    width: 300px;
/*    margin-right: 300px;*/
    
    
    
}



/*
media screen and (max-width: 991px) {
   
     {
        vertical-align: middle;
        margin-top: 30px;
        margin-bottom: 30px;
         margin-right: 0;
        
    }
}
*/



/*
@media screen and (max-width: 992px) {
   
    .skImg {
        
        display: block !important;
        
    }
    
     #skImg1 {
    
    margin-left: 220px;
    }
    
     #skImg2 {
    
    margin-left: 287px;
    }
    
     #skImg3 {
    
    margin-left: 285px;
    }
    
     #skImg4 {
    
    margin-left: 273px;
    }
    
}
*/

@media screen and (max-width: 768px) {
   

    
    .timeline-panel {
        
        padding-left: 78px !important;
        
    }
    
    .flex-container{
        
/*
        display: flex;
        order: -1;
*/

    }
    

    
/*
    .skImg {
        
        display: block !important;
        
    }
    
     #skImg1 {
    
    margin-left: 125px;
    }
    
     #skImg2 {
    
    margin-left: 190px;
    }
    
     #skImg3 {
    
    margin-left: 190px;
    }
    
     #skImg4 {
    
    margin-left: 180px;
    }
*/
}

@media screen and (max-width: 576px) {
   
/*
    #aboutMe {  
        
        margin-top: 30px;
        margin-bottom: 30px;
        
        
    }
*/
    
    .timeline-panel {
        
        padding-left: 100px important;
    }
}

.slide   {
    
    background-color: white;
    
    
}

.text-muted {
    font-size: 20px;
    margin-left: 50px;
}

.section-heading {
    
    font-family: 'Patua One', cursive;
    text-shadow: 2px 2px #b8b894;
    
}



.Edu {
    font-size: 16px;
}

.timeline-panel {
    
    background-color: rgba(77,81,84,0.8);
    text-align: center !important;
    border-radius: 25px;
    color: lightgoldenrodyellow;
    padding-top: 10px !important;
    box-shadow: rgba(0,0,0,0.6) 5px 5px 5px;
}

    


.rotate:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} 

/*
@media screen and (min-width: 992px) {
   
    #skImg1 {
    
    margin-left: 10px;
    }
    
     #skImg4 {
    
    margin-left: 50px;
    }
    
}
*/

@media screen and (min-width: 768px) {
   
    div.intro-text{
        vertical-align: text-top;
    }
    
}

@media screen and (min-width: 992px) {
   
    #aboutMe {
        
        
       margin-right: 300px;
        
    }
}

#contact {
    
    color: #fed136 !important;
}

#contactIcon {
    
    color: #fed136 ;
}

.bg-light {
    
    background-color: white !important;
    
}

#phoneMail {
    
    font-size: 30px;
}
    
section#contact {
    
    background-color: #1b1d46 !important;
}

section#experience {
    background-image: url(../images/cube.png);
    background-position: top;
    position: relative;

    
}

#workExp  {
    color: #5b5b5b;
}










